{
    "project": "octopus-dev-309403",
    "region": "asia-east1",
    "cluster": "autopilot-cluster-1",
    "namespace": "testnet",
    "dns_zone": "testnet-octopus-network",

    "chains": [
        {
            "chain": "otto",
            "frontend": {
                "image": "ghcr.io/blockscout/frontend:latest",
                "replicas": 1,
                "envs": {
                    "NEXT_PUBLIC_API_PROTOCOL": "http",
                    "NEXT_PUBLIC_API_HOST": "otto.blockscout.testnet.octopus.network",
                    "NEXT_PUBLIC_API_PORT": "80",
                    "NEXT_PUBLIC_API_BASE_PATH": "/",
                    "NEXT_PUBLIC_APP_PROTOCOL": "http",
                    "NEXT_PUBLIC_APP_HOST": "otto.blockscout.testnet.octopus.network",
                    "NEXT_PUBLIC_APP_PORT": "80",
                    "NEXT_PUBLIC_NETWORK_ID": "9109",
                    "NEXT_PUBLIC_NETWORK_NAME": "Otto",
                    "NEXT_PUBLIC_NETWORK_SHORT_NAME": "Otto",
                    "NEXT_PUBLIC_NETWORK_CURRENCY_NAME": "OT",
                    "NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL": "OT",
                    "NEXT_PUBLIC_NETWORK_CURRENCY_DECIMALS": "18",
                    "NEXT_PUBLIC_IS_TESTNET": "true"
                },
                "resources": {
                    "cpu_requests": "250m",
                    "cpu_limits": "250m",
                    "memory_requests": "512Mi",
                    "memory_limits": "512Mi"
                }
            },
            "backend": {
                "image": "blockscout/blockscout:latest",
                "replicas": 1,
                "envs": {
                    "CHAIN_ID": "9109",
                    "COIN": "OT",
                    "COIN_NAME": "OT",
                    "SHOW_TESTNET_LABEL": "true",
                    "API_V2_ENABLED": "true",
                    "DATABASE_URL": "postgresql://xxxxxxxx:xxxxxxxx@1.2.3.4:5432/xxxxxxxx",
                    "ETHEREUM_JSONRPC_VARIANT": "geth",
                    "ETHEREUM_JSONRPC_HTTP_URL": "https://gateway.testnet.octopus.network/eth/otto/ctk8qxdnjrvwjqgs",
                    "ETHEREUM_JSONRPC_WS_URL": "wss://gateway.testnet.octopus.network/eth/otto/ctk8qxdnjrvwjqgs/websocket",
                    "NETWORK": "OTTO",
                    "MIX_ENV": "prod",
                    "MICROSERVICE_SC_VERIFIER_ENABLED": "true",
                    "MICROSERVICE_SC_VERIFIER_URL": "http://octopus-verifier:8050/",
                    "MICROSERVICE_SC_VERIFIER_TYPE": "sc_verifier"
                },
                "resources": {
                    "cpu_requests": "250m",
                    "cpu_limits": "250m",
                    "memory_requests": "512Mi",
                    "memory_limits": "512Mi"
                }
            }
        }
    ],
    "verifier": {
        "image": "ghcr.io/blockscout/smart-contract-verifier:latest",
        "replicas": 1,
        "envs": {
            "SMART_CONTRACT_VERIFIER__SERVER__HTTP__ENABLED": "true",
            "SMART_CONTRACT_VERIFIER__SERVER__HTTP__ADDR": "0.0.0.0:8050",
            "SMART_CONTRACT_VERIFIER__SERVER__HTTP__MAX_BODY_SIZE": "2097152",
            "SMART_CONTRACT_VERIFIER__SERVER__GRPC__ENABLED": "false",
            "SMART_CONTRACT_VERIFIER__SERVER__GRPC__ADDR": "0.0.0.0:8051",
            "SMART_CONTRACT_VERIFIER__SOLIDITY__ENABLED": "true",
            "SMART_CONTRACT_VERIFIER__SOLIDITY__COMPILERS_DIR": "/tmp/solidity-compilers",
            "SMART_CONTRACT_VERIFIER__SOLIDITY__REFRESH_VERSIONS_SCHEDULE": "0 0 * * * * *",
            "SMART_CONTRACT_VERIFIER__SOLIDITY__FETCHER__LIST__LIST_URL": "https://solc-bin.ethereum.org/linux-amd64/list.json",
            "SMART_CONTRACT_VERIFIER__VYPER__ENABLED": "true",
            "SMART_CONTRACT_VERIFIER__VYPER__COMPILERS_DIR": "/tmp/vyper-compilers",
            "SMART_CONTRACT_VERIFIER__VYPER__REFRESH_VERSIONS_SCHEDULE": "0 0 * * * * *",
            "SMART_CONTRACT_VERIFIER__VYPER__FETCHER__LIST__LIST_URL": "https://raw.githubusercontent.com/blockscout/solc-bin/main/vyper.list.json",
            "SMART_CONTRACT_VERIFIER__SOURCIFY__ENABLED": "true",
            "SMART_CONTRACT_VERIFIER__SOURCIFY__API_URL": "https://sourcify.dev/server/",
            "SMART_CONTRACT_VERIFIER__SOURCIFY__VERIFICATION_ATTEMPTS": "3",
            "SMART_CONTRACT_VERIFIER__SOURCIFY__REQUEST_TIMEOUT": "10", 
            "SMART_CONTRACT_VERIFIER__METRICS__ENABLED": "false",
            "SMART_CONTRACT_VERIFIER__METRICS__ADDR": "0.0.0.0:6060",
            "SMART_CONTRACT_VERIFIER__METRICS__ROUTE": "/metrics",
            "SMART_CONTRACT_VERIFIER__JAEGER__ENABLED": "false",
            "SMART_CONTRACT_VERIFIER__JAEGER__AGENT_ENDPOINT": "localhost:6831"
        },
        "resources": {
            "cpu_requests": "250m",
            "cpu_limits": "250m",
            "memory_requests": "512Mi",
            "memory_limits": "512Mi"
        }
    }
}
